* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

.icon img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-links, .left-links, .right-links {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 10px 20px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

.brand-name {
    font-weight: bolder;
    font-size: 15px;
}

.container {
    background: url(photos/the-odyssey-3840x2160-25035.jpg) no-repeat center;
    background-size: cover;
    height: 90vh;
    transition: filter 0.9s ease;
}

.top-content {
    position: relative;
    height: 90vh;
    top: 80px;
    right: 5%;
    left: 0;
    margin-left: 30px;
}

span {
    display: inline-block;
    max-width: 450px;
}

.movie-title {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 30px;
}

.genre {
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
}

.popular-movies img {
    width: 190px;
    height: auto;
    border-radius: 5px;
    margin: 4px;
}

p {
    margin-top: 150px;
    font-size: 15px;
    color: white;
}

.bottom-container {
    background-color: rgb(19, 19, 58);
    height: 44vh;
    color: white;
}

.bottom-container img {
    width: auto;
    height: 190px;
    border-radius: 5px;
    margin: 10px 20px;
}

.Collection {
    margin-left: 20px;
    padding-top: 20px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vh;
    font-size: 15px;
    margin-top: 100px;
}

.text {
    width: 500px;
    margin: 20px;
}

.brand {
    color: rgb(19, 19, 58);
    font-size: 20px;
}

#box {
    padding: 10px;
    width: 250px;
}

.button {
    padding: 13px;
}

.footer-container p {
    color: rgb(19, 19, 58);
    padding-bottom: 50px;
    margin-top: 80px;
}

img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

img {
    transition: transform 0.4s ease;
}

button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.modal-overlay {
    border: none;
    background-color: whitesmoke;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 40px;
    border-radius: 10px;

    animation-name: animateModal;
    animation-duration: 0.4s;
}

.modal-overlay p {
    margin: 10px;
    color: black;
}

h2 {
    display: inline-block;
    margin-right: 14rem;
    padding: 10px;
}

.modal-action {
    padding: 10px;
}

.primary-btn:hover {
    background-color: gold;
    opacity: 1;
}

.secondary-btn {
    background-color: rgb(240, 237, 237);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
}

.modal-close:hover {
    color: red;
    opacity: 1;
}

.modal-close {
    font-size: 20px;
}

.secondary-btn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

#modal-hidden {
    display: none;
    z-index: 1;
}

@keyframes animateModal {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

.container.blurred {
    filter: blur(3px);
}
